footer {
  border-top: 1px solid #ccc; 
  box-shadow: 0 2px 4px rgba(0.1, 0.1, 0, 0.1);
  margin-top: 40px;
  padding-bottom: 60px;
}

#main-nav {
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#main-nav a {
  color: inherit; 
  text-decoration: none;
}

#main-nav a:hover {
  text-decoration: underline;
}


#visualization {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

#visualization iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scrollbar-width: thin;
  scrollbar-color: black; 
  border: 1px solid black;
}

#ireclogo {
  width: 30%;
  height: 100%;
}

#centre {
  margin: auto;
  text-align: center;
}

[role="button"] {
  background-color: #af291d;
  margin-top: 10px;
}

#nav-button {
  background-color: #af291d;
  padding: 7px;
  margin-right: 2px;
}

.basictext {
  padding-top: 18px;
  padding-bottom: 5px;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  #ireclogo {
    width: 50%;
    height: 100%;
  }

  #visualization {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
  }

  #visualization iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scrollbar-width: thin;
    scrollbar-color: black;
  }
}
